
<h1>Die Firmengeschichte - kurz und knackig</h1>
<div class="flex-parent">
  <div class="input-flex-container">
    <input type="radio" name="timeline-dot" data-description="2003">
    <div class="dot-info" data-description="2003">
      <span class="year">2003</span>
      <span class="label">Aufbruch</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2007">
    <div class="dot-info" data-description="2007">
      <span class="year">2007</span>
      <span class="label">Gründung</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2008" checked>
    <div class="dot-info" data-description="2008">
      <span class="year">2008</span>
      <span class="label">Orientierung</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2009">
    <div class="dot-info" data-description="2009">
      <span class="year">2009</span>
      <span class="label">Werte</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2010">
    <div class="dot-info" data-description="2010">
      <span class="year">2010</span>
      <span class="label">Desaster</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2012">
    <div class="dot-info" data-description="2012">
      <span class="year">2012</span>
      <span class="label">Neueröffnung</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2013">
    <div class="dot-info" data-description="2013">
      <span class="year">2013</span>
      <span class="label">Wachstum</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2020">
    <div class="dot-info" data-description="2020">
      <span class="year">2020</span>
      <span class="label">Nachhaltige Strategie</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2021">
    <div class="dot-info" data-description="2021">
      <span class="year">2021</span>
      <span class="label">Neuer Vorstand</span>
    </div>
    <input type="radio" name="timeline-dot" data-description="2025">
    <div class="dot-info" data-description="2025">
      <span class="year">2025</span>
      <span class="label">Sparte Erneuerbare Energien</span>
    </div>
    <div id="timeline-descriptions-wrapper">
      <p data-description="2003">Markus Freising verlässt gewohnte Pfade und macht sich als Unternehmensberater selbstständig</p>
      <p data-description="2007">Die MF-Consulting wird von Markus Freisinger und seinen fünf Gründungsmitgliedern gegründet! Ein Grund zum Feiern!!</p>
      <p data-description="2008">Erste namhafte Großkunden kommen an Board</p>
      <p data-description="2009">Die Firmenwerte werden ins Leben gerufen - einer für alle, alle für einen</p>
      <p data-description="2010">Desaster!! Das Firmengebäude fällt einem Brand zum Opfer!</p>
      <p data-description="2012">Das neue moderne Firmengebäude wird feierlich eröffnet</p>
      <p data-description="2013">Der Umsatz knackt erstmals die 50 Millionen Euro - Ein Anlass um wohltätigen Vereinen eine signifikante Spende zukommen zu lassen</p>
      <p data-description="2020">Durch ihr fantastisches Wachstum wird die Belegschaft der MF-Consulting dreistellig!</p>
      <p data-description="2021">Timon Freisinger tritt dem Vorstand der MF-Consulting ein</p>
      <p data-description="2025">Einführung der neuen Sparte "Renewable Energies"</p>
    </div>
  </div>
</div>
