nav.navbar {
  background-color: var(--secondary-color);
}

a.nav-dropdown {
  cursor: pointer;
}

a.nav-link {
  color: var(--primary-color);
  border-radius: 1rem;
  font-size: 1.5rem;
}

a.nav-link:hover {
  background-color: var(--accent-color);
}

