<div ngbAccordion #accordion>
  <div ngbAccordionItem [collapsed]="false">
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{jason_header}}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="row">
          <div class="col-lg">
            <img src="{{jason_img}}" alt="" class="img-fluid rounded">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg">
            <h2>{{jason_header}}</h2>
            <h3>{{jason_title}}</h3>
            <p>{{jason_body_0}}</p>
            <p>{{jason_body_1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{felix_header}}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="row">
          <div class="col-lg">
            <img src="{{felix_img}}" alt="" class="img-fluid rounded">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg">
            <h2>{{felix_header}}</h2>
            <h3>{{felix_title}}</h3>
            <p>{{felix_body_0}}</p>
            <p>{{felix_body_1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div><div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{edeltraut_header}}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="row">
          <div class="col-lg">
            <img src="{{edeltraut_img}}" alt="" class="img-fluid rounded">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg">
            <h2>{{edeltraut_header}}</h2>
            <h3>{{edeltraut_title}}</h3>
            <p>{{edeltraut_body_0}}</p>
            <p>{{edeltraut_body_1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div><div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{susanne_header}}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="row">
          <div class="col-lg">
            <img src="{{susanne_img}}" alt="" class="img-fluid rounded">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg">
            <h2>{{susanne_header}}</h2>
            <h3>{{susanne_title}}</h3>
            <p>{{susanne_body_0}}</p>
            <p>{{susanne_body_1}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ngbAccordionItem>
    <h2 ngbAccordionHeader>
      <button ngbAccordionButton>{{ janina_header }}</button>
    </h2>
    <div ngbAccordionCollapse>
      <div ngbAccordionBody>
        <div class="row">
          <div class="col-lg">
            <img src="{{janina_img}}" alt="" class="img-fluid rounded">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg">
            <h2>{{ janina_header }}</h2>
            <h3>{{ janina_title }}</h3>
            <p>{{ janina_body_0 }}</p>
            <p>{{ janina_body_1 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
