<div class="container">
  <app-header-element/>
  <div class="row mt-5">
    <div class="col-lg text-center">
      <p>PSSST für die Eiligen:</p>
      <span>
        Unsere Geschichte gibts als kompakte
        <a [routerLink]="'/history'" fragment="timeline" (click)=scrollToTimeline()>Timeline</a>
        und auch als
        <a [routerLink]="'/history'" fragment="video" (click)=scrollToVideo()>Video</a>
      </span>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg">
      <img src="section-1.webp" class="img-fluid p-5" style="border-radius: 50%;" alt="">
    </div>
    <div class="col-lg">
      <app-story-element [alignment]="'right'" [year]=first_segment_year [subheader]=first_segment_subheader
                         [textbodyLeft]=first_segment_text_0 [textbodyRight]=first_segment_text_1></app-story-element>
    </div>
    <app-divider-segment arrowDirection="left" />
    <div class="row mt-5">
      <div class="col-lg">
        <app-story-element [year]=second_segment_year [subheader]=second_segment_subheader
                           [textbodyLeft]="second_segment_text_0" [textbodyRight]="second_segment_text_1"/>
      </div>
      <div class="col-lg content-element">
        <app-accordion-element/>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg justify-content-center">
        <app-story-element [alignment]="'center'" [year]=third_segment_year [subheader]=third_segment_subheader
                           [textbodyLeft]="third_segment_text_0" textbodyRight=""/>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md">
        <div class="row justify-content-center">
          <div class="col-auto mt-2">
            <app-cards-element [imgUrl]=leidenschaft_url [textBody]=leidenschaft_body [title]="leidenschaft_title"/>
          </div>
          <div class="col-auto mt-2">
            <app-cards-element [imgUrl]=offenheit_url [textBody]=offenheit_body [title]="offenheit_title"/>
          </div>
        </div>
      </div>
      <div class="col-md">
        <div class="row justify-content-center">
          <div class="col-auto mt-2">
            <app-cards-element [imgUrl]=verantwortung_url [textBody]=verantwortung_body [title]="verantwortung_title"/>
          </div>
          <div class="col-auto mt-2">
            <app-cards-element [imgUrl]=exzellenz_url [textBody]=exzellenz_body [title]="exzellenz_title"/>
          </div>
        </div>
      </div>
    </div>
    <app-divider-segment arrowDirection="left"/>
    <div class="row mt-5">
      <div class="col-lg">
        <app-story-element [year]=fourth_segment_year [subheader]=fourth_segment_subheader
                           [textbodyLeft]="fourth_segment_text_0" [textbodyRight]="fourth_segment_text_1"/>
      </div>
      <div class="col-lg content-element align-self-center">
        <app-carousel-element/>
      </div>
    </div>
    <app-divider-segment arrowDirection="right"/>
    <div class="row mt-5">
      <div class="col-lg order-lg-last">
        <app-story-element alignment="right" [year]=fifth_segment_year [subheader]=fifth_segment_subheader
                           [textbodyLeft]="fifth_segment_text_0" [textbodyRight]="fifth_segment_text_1"/>
      </div>
      <div class="col-lg content-element">
        <img src="heart.jpg" class="img-fluid" style="border-radius: 50%;" alt="Heart">
      </div>
    </div>
    <app-divider-segment arrowDirection="left"/>
    <div class="row mt-5">
      <div class="col-lg">
        <app-story-element [year]=sixth_segment_year [subheader]=sixth_segment_subheader
                           [textbodyLeft]="sixth_segment_text_0" [textbodyRight]="sixth_segment_text_1"/>
      </div>
      <div class="col-lg content-element">
        <img src="sixth.jpg" class="img-fluid" alt="The future of the mf-consulting depicted by a man climbing stairs">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg" id="timeline">
        <app-timeline/>
      </div>
    </div>
    <app-divider-segment arrowDirection="left"/>
    <div class="row mt-5 mb-5" id="video">
      <div class="col-lg">
        <app-story-element year="" subheader="TL:DR?"
                           [textbodyLeft]="'Für alle Lesefaulen: '" [textbodyRight]="'Ihr könnt unsere Firmengeschichte auch als kurzes Video anschauen. Please like & subscribe ;)'"/>
      </div>
      <div class="col-lg content-element" #youtubePlayerContainer >
        <youtube-player id="ytplayer" [width]="videoWidth" [height]="videoHeight" videoId="UuW9qgsG7Mk"/>
      </div>
    </div>
  </div>
</div>
