<div class="row justify-content-center">
  <div class="col-6"><img src="stop.jpg" class="img-fluid" alt=""></div>
</div>
<div class="row justify-content-center">
  <div class="col-6">
    <p>
      DIES IST KEINE ECHTE WEBPRÄSENZ - DIE MF-CONSULTING GMBH IST EINE FIKTIVE FIRMA UND WURDE IM RAHMEN EINER
      PROJEKTARBEIT DES STUDIENGANGS MEDIENINFORMATIK AN DER IU - INTERNATIONALE UNIVERSITÄT FREI ERFUNDEN
    </p>
    <p>
      DIE HISTORYPAGE KANN ÜBER <a routerLink="/history">DIESEN LINK</a> ODER ÜBER DIE NAVIGATION -> ÜBER UNS -> UNSERE FIRMENGESCHICHTE ERREICHT WERDEN
    </p>
    <p>
      ANDERE LINKS SIND IM WESENTLICHEN NICHT FUNKTIONAL
    </p>
  </div>
</div>
