/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #004B76;
  --secondary-color: #80CDEC;
  --accent-color: #F9E03a;
  --neutral-color: #FFF;
  --bs-navbar-brand-font-size: 2.5rem !important;
}

.active-link {
  background-color: var(--accent-color) !important;
  color: var(--primary-color) !important;
}

